<manifest package="com.chibatching.kotpref"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:authorities="${applicationId}.kotprefinitprovider"
            android:exported="false"
            android:enabled="true"
            android:name=".KotprefInitProvider" />
    </application>
</manifest>
