<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chibatching.kotpref.initializer">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- Automatically runs KotprefInitializer at app startup -->
            <meta-data
                android:name="com.chibatching.kotpref.initializer.KotprefInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
